:root{
  --color-danger: rgba(152, 115, 4, 0.118);
  --color-danger-variant:rgba(247,88,66,0.4);

}
    img{
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .btn{
    display: inline-block;
    background-color: cornsilk;
    padding: 1rem 2rem;
    border: 1px solid rgb(9, 166, 9);
    font-weight: 500;
    transition:var(--transition) ;
  }
  
  .btn:hover{
    background: black;
    color: rgb(22, 233, 22);
    border-color: green;
  
  }
  .btn-primary{
    background: transparent;
    color: black;
  }
  
  /*---------POPULAR COURSES---------*/
  
  
  .courses{
    margin-top: 10rem;
  
  }
  
  .courses_container{
    display:flex;
    /* grid-template-rows: repeat(3,1fr); */
    gap: 1rem;
  
  }
  .course h4{
    font-weight: bold;
  }
  .courses img{
  height: 95%;
  width: 100%;
  border-radius: 1rem;
  
  }
  
  .course{
    background: var(--color-danger);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius:1rem;
  }
  .course:hover{
    background: transparent;
    border-color: black;
  }
  
  
  .course_info{
    padding: 2rem;
  }
  
  .course_info p{
    margin: 1.2rem 0 2rem ;
    font-size: 0.9rem;
  }
  
  /*---------MEDIA QUERIES (TABLETS)---------*/
  
  

  
   /*---------POPULAR COURSES SECTION-------------------*/
   .courses{
    margin-top: 0;
   }
  .courses_container{
    display: flex;
    grid-template-columns: 1fr 1fr;
   
  }
  
  /*---------MQs(phones)-------------------*/
  @media screen and (max-width: 600px){
    .container{
      width: var(--container-width-sm);
    }
    
    /*---------popular courses-----------*/
    .courses_container{
      grid-template-columns: 1fr ;
    }
  
  }
  
  