  
  /*---------TESTIMONIALS---------*/
  
  .testimonials_container{
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
  }
  
  .testimonial{
    padding-top: 2rem;
  }
  
  .avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.2rem solid rgba(154, 132, 91, 0.872);
  }
  
  .testimonial_info{
    text-align: center;
    color: azure;
  }
  
  
  .testimonial_body{
    background-color: rgba(154, 132, 91, 0.872);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
  
  }
  
  .testimonial_body::before{
    content: "" ;
    display: block;
    background:linear-gradient(
      135deg,
      transparent,
      rgba(240, 198, 121, 0.872),
      rgba(240, 198, 121, 0.872)
      );
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 48%;
    top: -1.5rem;
    transform:rotate(45deg);
  
  
  }
  
  
  
  /*---------MEDIA QUERIES (TABLETS)---------*/
  
  
  @media screen and (max-width:1024px){
    
    .container{
      width: var(--container-width-md);
    }
  }
  
  /*---------MQs(phones)-------------------*/
  @media screen and (max-width: 600px){
    .container{
      width: var(--container-width-sm);
    }
     .testimonial_body{
      padding: 1.2rem;
     }

  }
  
  