.startup .startup2{
    background-size: cover;
  }
.startup .top{
    display: flex;
}


.startup .grid5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    color: rgb(4, 0, 0);
    width: 68rem;
    margin-left: 4rem;

  }
/* text decor inside each container */
.startup label{
    color: rgb(101, 98, 98);
    font-size: medium;
    width: 25px;

  }
  .startup .mtop{
    padding: 20px;
  }
 .startup h4{
    font-weight: 500;
    margin-top: 5px;
  }

  .startup .box{
    margin-left: 0.5rem;
    border-radius: 2.8px;
    text-align: center;
    cursor: pointer;
    margin: 0.2rem;
    padding: 10px;
    height: 15rem;
    background: rgb(249, 247, 247);
    flex-wrap: wrap;
}
.startup .box:hover{
    box-shadow: 0 0 20px 0 rgb(80, 237, 18);
}
.startup .grow { 
    transition: all .2s ease-in-out; 
    }
    
.startup .grow:hover { 
    transform: scale(1.1); 
    }



@media screen and (max-width: 768px){

.startup2 .top{
    display: flex;
}
.startup .startup2 p{
  font-size: 11px;
  margin: 1rem;

}
.startup .container{
    display: flex;
    flex-direction: column;
    width: auto;
}
.startup .grid5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 1px;
}
.startup label{
font-size: 0.8rem;
}
}

@media screen and (max-width: 500px){
    
    .startup .grid5{
        display: grid;
        grid-template-columns: auto;
    }
    .startup label{
        font-size: small;
    }
    .startup h4{
        font-size: small;
        width: 100%;
    }
    .icon{
        font-size: small;
    }
}
    
